.error__popup {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

.error__popup_visible {
    visibility: visible;
    opacity: 1;
}

.error__popup-text {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

.error__popup-button {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background: red;
    border: none;
    border-radius: 50px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    margin-left: 75px;
    margin-top: 70px;
    transition: 0.3s;
    cursor: pointer;
}

.error__popup-button:hover {
    opacity: 0.8;
}

.popup__container {
    margin-top: 150px;
    width: 250px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 15px;
    z-index: 1;
}

